header {
  background-color: #ea8c55;
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo {
  flex: 1;
}

.logo h1 {
  margin: 0;
  font-size: 32px;
  color:  white;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

textarea,
input[type="number"] {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

textarea {
  height: 100px;
}

button[type="submit"] {
  background-color: #ea8c55;
  color: white;
  padding: 10px 20px;
  border: none;
}

