.search-area {
  text-align:center;
}

.search-area h1 {
  color: #ea8c55;
}

.search-form {
  background-color:#ea8c55;
  padding:50px 50px;
  width: 80%;
  margin: auto;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
}

.search-bar {
  display: inline-flex;
  margin-bottom: 20px;
}

.search-bar img {
  max-height: 20px;
  position: absolute;
  padding: 7px;
}

.search-bar input {
  border:none;
  color:#888888;
  font-size:16px;
  width: 450px;
  height:36px;
  margin-right: 12px;
  padding-left: 35px;
  box-sizing: border-box;
  border-radius: 10px;
}

.search-bar button{
    text-transform:uppercase;
    border:none;
    cursor:pointer;
    border-radius: 10px;
    color: black;
    background-color: white;
}

.search-bar button:hover{
    background-position:left bottom;
    background-color: black;
    color: white;
}

.search-options {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-options input {
  margin: 10px;
}

