body {
  background-color: #ea8c55;
}

.containers{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.containers form {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
}

.containers h1 {
  text-align: center;
  margin-bottom: 30px;
}

.containers label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

.containers input[type="text"],
.containers input[type="email"],
.containers input[type="number"],
.containers input[type="password"],
.containers select,
.containers input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.containers button[type="submit"] {
  background-color: #ea8c55;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin-top: 20px;
}
 

