<!DOCTYPE html>
<html>
  <head>
    <title>FoodComm - User Profile</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header>
     <div class="logo">
      <a href="/">
        <h1>FoodComm</h1>
      </a>
     </div>
      <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Friends</a></li>
            <li><a href="#">Reviews</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="profile-header">
        <div class="profile-img">
          <img src="{{ url_for('static', filename='media/profile.jpg') }}" alt="Profile Image">
        </div>
        <div class="profile-info">
          <h1>Jane Doe</h1>
          <h2>New York, NY</h2>
        </div>
      </section>
      <section class="profile-reviews">
        <h2>Reviews</h2>
        <ul>
          <li>
            <div class="review-img">
              <img src="{{ url_for('static', filename='media/rest1.jpg') }}" alt="Restaurant Image">
            </div>
            <div class="review-info">
              <h3>Restaurant Name</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </li>
          <li>
            <div class="review-img">
              <img src="{{ url_for('static', filename='media/rest2.jpg') }}" alt="Restaurant Image">
            </div>
            <div class="review-info">
              <h3>Restaurant Name</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </li>
          <li>
            <div class="review-img">
              <img src="{{ url_for('static', filename='media/rest3.jpg') }}" alt="Restaurant Image">
            </div>
            <div class="review-info">
              <h3>Restaurant Name</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </li>
        </ul>
      </section>
    </main>
  </body>
</html>
