{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}
{% block content %}
    <main>
      <section class="profile-header">
        {% if curr_user %}
        <div class="profile-img">
          <img src="{{ curr_user['image_path'] }}" alt="Profile Image">
        </div>
        <div class="profile-info">
            <h1>{{ curr_user['name'] }}</h1>
            <h2>{{ curr_user['age'] }}</h2>
            <h2>{{ curr_user['gender'] }}</h2>
          {% else %}
            <h1>User doesn't exist</h1>
          {% endif %}
        </div>
      </section>
      <section class="profile-reviews">
        <h2>Reviews</h2>
        <ul>
          <li>
            <div class="review-img">
              <img src="{{ url_for('static', filename='media/rest1.jpg') }}" alt="Restaurant Image">
            </div>
            <div class="review-info">
              <h3>Restaurant Name</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </li>
          <li>
            <div class="review-img">
              <img src="{{ url_for('static', filename='media/rest2.jpg') }}" alt="Restaurant Image">
            </div>
            <div class="review-info">
              <h3>Restaurant Name</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </li>
          <li>
            <div class="review-img">
              <img src="{{ url_for('static', filename='media/rest3.jpg') }}" alt="Restaurant Image">
            </div>
            <div class="review-info">
              <h3>Restaurant Name</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </li>
        </ul>
      </section>
    </main>
{% endblock %}
