{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='explore.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='search.css') }}">
{% endblock %}
{% block content %}

    <div class="search-area">
      <h1>Search our Site</h1>
      <form class="search-form" method="post" action="{{ url_for('search') }}">
          <div class="search-bar">
            <img src="{{ url_for('static', filename='media/searchicon.png') }}">
            <input type="text" name="search_term" placeholder="Search term">
            <button type="submit">Search</button>
          </div>
          <div class="search-options">
            <input type="radio" name="search_category" value="customer"
                   id="searchCust"
                   checked />
            <label for="searchCust" id="siteNameLabel">Customers</label>
            <input type="radio" name="search_category" value="restaurant"
                   id="searchRest" />
            <label for="searchRest">Restaurants</label>
            <input type="radio" name="search_category" value="city" id="searchCity" />
            <label for="searchCity">Cities</label>
          </div>
      </form>
    </div>

	<div class="restaurants-list">
      <h2>Restaurants</h2>
      <div class="scrollable-list">
        <ul>
          {% if rests_to_city %}
            {% for restaurant, city_name in rests_to_city.items() %}
              <li>
                <div class="rest-item">
                    <div class="rest-details">
                        <img src = {{restaurant.get('image_path')}}/>
                        <h3> <a href="restaurant/{{ restaurant.get('name') }}">{{ restaurant.get('name') }}</a></h3>
                        <p class="rests-city">{{ city_name }}</p><br>

                    <form method="post" action="/like_restaus">
                      {% if restaurant.get('like') %}
                        <button type="submit" name="unlike" value= "{{ restaurant.get('name') }}"> UnLike </button>
                      {% else %}
                        <button type="submit" name="like" value= "{{ restaurant.get('name') }}"> Like </button>
                      {% endif %}
                    </form>

                </div>
              </li>
            {% endfor %}
          {% endif %}
        </ul>
      </div>
    </div>

    <div class="restaurants-inCity">
      <h2>Check out these Restaurants in {{ cust_city }}!</h2>
        <div class="scrollable-list">
        <ul>
          {% if city_rests %}
            {% for rests in city_rests %}
              <li>
                <div class="rest-item">
                  <div class="rest-details">
                    <img src = {{rests.get('image_path')}}/>
                    <h3> <a href = "restaurant/{{ rests.get('name') }}">{{ rests.get('name') }}</a></h3>
                    <p class="rests-city">{{ cust_city }}</p><br>

                       <form method="post" action="/like_restaus">
                      {% if rests.get('like') %}
                        <button type="submit" name="unlike" value= "{{ rests.get('name') }}"> UnLike </button>
                      {% else %}
                        <button type="submit" name="like" value= "{{ rests.get('name') }}"> Like </button>
                      {% endif %}
                    </form>

                  </div>
                </div>
              </li>
            {% endfor %}
            {% else %}
            <p>Are you in a desert? Cause we couldn't find any restaurant in your city</p>
          {% endif %}
        </ul>
      </div>
    </div>

    <div class="restaurants-list">
      <h2>Restaurants your Friends loved</h2>
      <div class="scrollable-list">
        <ul>
          {% if rests_friends_like %}
            {% for rests in rests_friends_like %}
              <li>
                <div class="rest-item">
                    <div class="rest-details">
                        <img src = {{rests.get('image_path')}}/>
                        <h3> <a href="restaurant/{{ rests.get('name') }}">{{ rests.get('name') }}</a></h3>
                        <p class="rests-city">{{ rests.get('city') }}</p><br>

                    <form method="post" action="/like_restaus">
                      {% if rests.get('like') %}
                        <button type="submit" name="unlike" value= "{{ rests.get('name') }}"> UnLike </button>
                      {% else %}
                        <button type="submit" name="like" value= "{{ rests.get('name') }}"> Like </button>
                      {% endif %}
                    </form>


                </div>
              </li>
            {% endfor %}
            {% else %}
            <p>You lonely, make some friends. We will update this in the meantime</p>
          {% endif %}
        </ul>
      </div>
    </div>
{% endblock %}