{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='explore.css') }}">
{% endblock %}
{% block content %}
	<div class="restaurants-list">
    <h2>Restaurants</h2>
    <div class="scrollable-list">
      <ul>
        {% if list %}
          {% for rests in list %}
            <li>
              <div class="rest-item">
                <div class="rest-details">
                  <img src = {{rests.get('image_path')}}/>
                  <h3> <a href = "restaurant/{{ rests.get('name') }}">{{ rests.get('name') }}</a></h3>
                    <p class="rests-city">Montreal</p><br>
                    <form method="post" action="/like_restaus">
                      {% if rests.get('like') %}
                        <button type="submit" name="unlike" value= "{{ rests.get('name') }}"> UnLike </button>
                      {% else %}
                        <button type="submit" name="like" value= "{{ rests.get('name') }}"> Like </button>
                      {% endif %}
                    </form>

                </div>
              </div>
            </li>
          {% endfor %}
          {% endif %}
      </ul>
    </div>
  </div>
{% endblock %}