{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='friendsPage.css') }}">
{% endblock %}
{% block content %}
<div class="friends-list">
    <h2>Friends' Accounts</h2>
    <div class="scrollable-list">
      <ul>
        {% if user_friend_list %}
          {% for friend in user_friend_list %}
            <li>
              <div class="friend-item">
                <div class="friend-picture">
                  <img src="{{ friend.get('image_path') }}"
                       alt="profile picture">
                </div>
                <div class="friend-details">
                  <h3>{{ friend.get('name') }}</h3>
                  <p class="friend-city">Montreal</p><br>
                  {% if friend.get('email') != session.get('user') %}
                  <form method="post" action="{{ url_for('other_profile') }}">
                    <input type="hidden" name="email"
                           value="{{ friend.get('email') }}">
                    <button type="submit">View Profile</button>
                  </form>
                  {% endif %}
                </div>
              </div>
            </li>
          {% endfor %}
        {% else %}
        <li>
          <div class="friend-item">
            <p>This user has no friends yet</p>
          </div>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
{% endblock %}