{% extends "base.html" %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}
{% block content %}
	<main>
		<section class="restaurant-list">
		{% if list %}
          {% for rests in list [:10] %}
            <li>
              <div class="rest-item">
                <div class="rest-details">
                  <img src = {{rests.get('image_path')}}/>
                  <h3> <a href = "restaurant/{{ rests.get('name') }}">{{ rests.get('name') }}</a></h3>
                  <p class="rests-city">{{rests.get('city')}}</p><br>
                </div>
              </div>
            </li>
          {% endfor %}
         {% endif %}
		</section>
		<section class="recent-comments">
			<h2>Recent Comments</h2>
			{% if reviews %}
				{% for review in reviews %}
					<article class="comment">
						<h3> {{review.get('score')}}</h3>
	          <p class="rests-city">{{rests.get('city')}}</p><br>   
					</article>
				{% endfor %}
			{% endif %}
		</section>
	</main>
{% endblock %}