{% extends "base.html" %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='restaurant.css') }}">
{% endblock %}
{% block content %}
	<div class="Restaurants list">
    <h2>Restaurants</h2>
    <div class="scrollable-list">
      <ul>
        {% if list %}
          {% for rests in list %}
            <li>
              <div class="rest-item">
                <div class="rest-details">
                  <h3> <a href = "review">{{ rests.get('name') }}</a></h3>
                  <p class="rests-city">Montreal</p><br>
                </div>
              </div>
            </li>
          {% endfor %}
          {% endif %}
      </ul>
    </div>
  </div>
{% endblock %}