<!DOCTYPE html>
<html>
  <head>
    <title>FoodComm - Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>Login</h1>
      <form>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter your username">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your password">
        <button type="submit">Login</button>
      </form>
      <p>Don't have an account? <a href="#">Sign up here</a></p>
    </div>
  </body>
</html>
