{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
 {% endblock %}
{% block content %}
    <div class="login-box">
    <h2>Login</h2>
        {% if error %}
        <p>Invalid Username or password</p>
        {% endif %}
    <form action="{{url_for('login')}}"  method = "post">
      <div class="user-box">
        <input type="email" name="email" required="">
        <label>Email</label>
      </div>
      <div class="user-box">
        <input type="password" name="password" required="">
        <label>Password</label>
      </div>
      <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/register">Sign up here</a></p>
  </div>
{% endblock %}
