{% extends "base.html" %}
{% block head %}
  {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}
{% block content %}
    <div class="container">
      <h1>Register</h1>
      <form action="{{url_for('register') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="Enter your username">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder="Enter your password">
        <button type="submit">Register</button>
      </form>
    </div>
{% endblock %}