{% extends "base.html" %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='base.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='restaurant.css') }}">
{% endblock %}
{% block content %}
	<main>
		<h1 class="header">{{restau.name}}</h1>
	    <div class="container">
	      <div class="image">
	        <img src="{{ url_for('static', filename= restau.image_path) }}" alt="Restaurant Image"/>
	      </div>
	      <div class="details">
	        <p class="restaurant-details">City: <span class="detail">{{restau.city}}</span></p>
	        <p class="restaurant-details">Rate: <span class="detail">{{restau.rating}}</span></p>

			  {% for reviews in restau.reviews %}
	        	<p class="restaurant-details">Review: <span class="detail">{{reviews}}</span></p>
			  {% endfor %}
	        <p class="restaurant-details"><a href="/restaurant/review/{{restau.name}}">Add Review</a></p>
	      </div>
	    </div>
	</main>
{% endblock %}