{% extends "base.html" %}
{% block head %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='restaurant.css') }}">
{% endblock %}
{% block content %}
	<main>
		<div class="title-container">
			<h2 class="page-title">Restaurant Info Page</h2>
		</div>
		
		<section class="restaurant-info">
			<img src="{{ url_for('static', filename='media/rest3.jpg') }}" alt="Restaurant Image">
			<h2>Name of the Restaurant</h2>
			<p class="restaurant-details">City: <span class="detail">City name</span></p>
			<p class="restaurant-details">Rate: <span class="detail">4.5</span></p>
			<p class="restaurant-details">Review: <span class="detail">"Amazing food and great service!"</span></p>
			<p class="restaurant-details">Review: <span class="detail">"Loved it"</span></p>
		</section>

	</main>
{% endblock %}

