<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Search Page</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='search.css') }}">
</head>
<body>
	<header>
		<div class="logo">
			<a href="/">
				<h1>FoodComm</h1>
			</a>
		</div>
		<form class="header-form" method="get" action="">
			<button type="submit" formaction="/signup">Sign up</button>
			<button type="submit" formaction="/login">Login</button>
			<button type="submit" formaction="/account">Profile</button>
		</form>
	</header>
	<main>
		<section id="search">
			<form class="search-form" method="get" action="">
				<input type="text" name="search_term" placeholder="Search term">
				<select name="search_category">
					<option value="restaurant">Restaurant</option>
					<option value="customer">Customer</option>
					<option value="city">City</option>
				</select>
				<button type="submit">Search</button>
			</form>
		</section>
	</main>
</body>
</html>

