{% extends "base.html" %}
{% block head %}
  {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styleSignUp.css') }}">
{% endblock %}
{% block content %}
    <div class="containers">
      <form action="#" method="post">
        <h1>Sign Up</h1>
        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Enter Email" name="email" required>
        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="Enter Name" name="username" required>
        <label for="age"><b>Age</b></label>
        <input type="number" placeholder="Enter Age" name="age" required>
        <label for="gender"><b>Gender</b></label>
        <select name="gender" required>
          <option value="">Select Gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
        <label for="password"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>
        <label for="repassword"><b>Re-enter Password</b></label>
        <input type="password" placeholder="Re-enter Password" name="repassword" required>
        <label for="picture"><b>Picture</b></label>
        <input type="file" placeholder="Upload Picture" name="picture" accept="image/*" required>
        <label for="restaurant"><b>Are you a restaurant owner?</b></label>
        <input type="checkbox" name="restaurant" value="yes">
        <button type="submit">Sign Up</button>
      </form>
    </div>
{% endblock %}